body{background-color: lightpink;
  background-image: url(../imagenes/fondo2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: purple;font-size: 14; text-align: center; font-family: 'Trispace', sans-serif;
  }
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap');
.titulo{color: purple;font-size: 20; text-decoration: underline; font-family: 'Freehand', cursive;}
.subtit{color: purple;font-size: 16; text-decoration: underline;}
h1{text-decoration: underline;}

header{background-image:url(../imagenes/fondo8.jpg); background-size: cover; background-repeat: no-repeat; background-color: white; border: 5px white solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.logo{display: flex;
      justify-content: flex-end;
      width: 10%
    }

.titulo{display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 33%
    }

.redes{width: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      justify-content: space-around;
      }
.iglila {width: 35%; height: 40%;}
.fblila {width: 70%;}
.twlila {width: 56%;}
.wsplila {width: 45%;}


nav {background-color: lightpink;
    display: flex;
    justify-content: space-around;
    }

a:hover{color: red;}

section {background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;}

.fotosalfajor{display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              justify-content: space-around;
            }
.alfajor{width: 23.3%;}
.alfajor1{width: 12%}
.alfajor2{height:30%; width: 22.2%}
.alfajor3{width: 11.75%}
.alfajor4{width: 23.5%}

.receta{display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        justify-content: space-around;}



aside {background-color: lightpink; background-size: cover;}
.yt{width: 5%}


footer{background-color: lightblue; background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

.maps{
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      flex-direction: column;
      width: 25%;
      }

.seguinos{display: flex;
          justify-content: center;}


.redes2{width: 40%;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      }

.iconos{
      width: 60%;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      }

.info{
      display: flex;
      flex-direction: column;
      width: 15%;
      }


.wsp{width: 4.2%;
    position: fixed;
    bottom: 1%;
    right: 0.6%;}
