body{background-color: lightpink;
  background-image: url(../imagenes/fondo2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: purple;font-size: 14; text-align: center;}
.titulo{color: purple;font-size: 20; text-decoration: underline;}
.subtit{color: purple;font-size: 16; text-decoration: underline;}
h1{text-decoration: underline;}

header{background-image:url(../imagenes/fondo8.jpg); background-size: cover; background-repeat: no-repeat; background-color: white; border: 5px white solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.logo{display: flex;
      justify-content: flex-end;
      width: 10%
    }

.titulo{display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 33%
    }

.redes{width: 20%;
    display: flex;
      align-items: flex-end;
      justify-content: space-around;
      }
.iglila {width: 45px}
.fblila {width: 45px}
.twlila {width: 50px}
.wsplila {width: 45px}


nav{background-color: lightpink; font-weight: bold;
    display: flex;
    justify-content: space-around;
    }

section {display: flex;justify-content: space-between; flex-direction: column;}

.fotosalfajor{display: flex;
              justify-content: flex-end;
            align-items: flex-start;}
.alfajor{width: 23.3%;}
.alfajor1{width: 12%}
.alfajor2{height:30%; width: 22.2%}
.alfajor3{width: 11.75%}
.alfajor4{width: 23.5%}

.receta{display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        justify-content: space-around;}



aside {background-color: lightpink;}
.yt{width: 45px}


footer{background-color: lightblue;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

.maps{
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      flex-direction: column;
      width: 25%;
      }

.seguinos{display: flex;
          justify-content: center;}


.redes2{width: 40%;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      }

.info{
      display: flex;
      justify-content: flex-start;
      align-self: center;
      width: 15%;
      }


.wsp{width: 40px;
    position: fixed;
    bottom: 10px;
    right: 15px;}
